<!-- This is just for referecne, copy this layout for company pages -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>

        <!-- Common links -->
        <%- include("../../common/common-links.ejs")%>

        <!-- Admin common links -->
        <%- include("../../common/common-admin-links.ejs")%>

        <!-- Company common links -->

        <!-- Common scripts -->
        <%-include("../../common/common-scripts.ejs")%>

        <!-- Admin common scripts -->

        <%- include("../../common/common-admin-scripts.ejs")%>
    </head>
    <body>
        <%- include("../../components/navs/admin-navbar.ejs")%>

        <main>
            <div class=""></div>
        </main>
    </body>
</html>
