<!-- This is just for referecne, copy this layout for company pages -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>

        <!-- Common links -->
        <%- include("../../common/common-links.ejs")%>

        <!-- Company common links -->

        <!-- Common scripts -->
        <%-include("../../common/common-scripts.ejs")%>

        <!-- Company common scripts -->
        <%- include("../../common/common-candidate-scripts.ejs")%>

        <script
            src="/javascripts/handlers/candidate/candidateDashboarddHandler.js"
            type="module"
            defer></script>
    </head>
    <body>
        <%- include("../../components/navs/candidate-navbar.ejs")%>

        <main></main>
    </body>
</html>
