<!-- This is just for referecne, copy this layout for company pages -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>

        <!-- Common links -->
        <%- include("../../common/common-links.ejs")%>

        <!-- Admin common links -->
        <%- include("../../common/common-admin-links.ejs")%>

        <!-- Company common links -->

        <!-- Common scripts -->
        <%-include("../../common/common-scripts.ejs")%>

        <!-- Admin common scripts -->

        <%- include("../../common/common-admin-scripts.ejs")%>

        <script
            src="/javascripts/handlers/farmers/farmerSignupHandler.js"
            type="module"
            defer></script>
    </head>
    <body>
        <%- include("../../components/navs/admin-navbar.ejs") %>

        <main>
            <section class="page-heading">
                <h2
                    class="text-center text-3xl font-extrabold text-gray-800 tracking-wide relative">
                    Farmers List (
                    <span class="italic"> Total Farmers : </span>
                    <% if (typeof farmersList !== 'undefined' && farmersList !== null &&
                    farmersList.length > 0) { %> <%= farmersList.length %> <% } else { %> 0 <% } %>)
                    <span class="block h-1 w-16 bg-blue-500 mx-auto mt-2 rounded-full"></span>
                </h2>
            </section>

            <section>
                <div class="container mx-auto p-4">
                    <div class="overflow-x-auto bg-white">
                        <% if (typeof farmersList !== 'undefined' && farmersList !== null &&
                        farmersList.length > 0) { %>

                        <table class="table-auto w-full border-collapse border border-gray-200">
                            <thead class="bg-teal-700 text-white">
                                <tr>
                                    <th class="px-4 py-2 border">Sr.No</th>
                                    <th class="px-4 py-2 border">Farmer Name</th>
                                    <th class="px-4 py-2 border">Email</th>
                                    <th class="px-4 py-2 border">Mobile</th>
                                    <th class="px-4 py-2 border">Address</th>
                                    <th class="px-4 py-2 border">Farm Name</th>
                                    <!-- <th class="px-4 py-2 border">Location</th> -->
                                    <th class="px-4 py-2 border">Established Year</th>
                                    <th class="px-4 py-2 border">Farm Size (Acres)</th>
                                    <th class="px-4 py-2 border">Products Sold</th>
                                    <th class="px-4 py-2 border">Add Product</th>
                                </tr>
                            </thead>
                            <tbody id="farmersTableBody" class="text-center">
                                <% farmersList.forEach((farmer, index) => {%>

                                <tr>
                                    <td class="py-2 px2 border"><%= index + 1 %></td>
                                    <td class="py-2 px2 border"><%= farmer.farmer_name %></td>
                                    <td class="py-2 px2 border"><%= farmer.email %></td>
                                    <td class="py-2 px2 border"><%= farmer.mobile %></td>
                                    <td class="py-2 px2 border"><%= farmer.address %></td>
                                    <td class="py-2 px2 border"><%= farmer.farm_name %></td>
                                    <!-- <td class="py-2 border"><%= farmer.location %></td> -->
                                    <td class="py-2 px2 border"><%= farmer.established_year %></td>
                                    <td class="py-2 px2 border"><%= farmer.farm_size %></td>
                                    <td class="py-2 px2 border"><%= farmer.products_sold %></td>
                                    <td>
                                        <a href="/sales/add/<%=farmer.id %>"
                                            class="px-4 py-2 bg-teal-700 text-white font-semibold rounded-lg shadow-md hover:bg-teal-900 focus:outline-none focus:ring-2 focus:ring-teal-900 focus:ring-opacity-75 transition duration-300">
                                            ➕ Add
                                        </a>
                                    </td>
                                </tr>

                                <% }) %>
                            </tbody>
                        </table>
                        <% }else { %>
                        <div
                            style="
                                color: red;
                                font-size: 18px;
                                font-weight: bold;
                                text-align: center;
                                padding: 10px;
                                background-color: #f8d7da;
                                border: 1px solid #f5c6cb;
                                border-radius: 5px;
                            ">
                            No farmer is listed
                        </div>
                        <% } %>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
