<!-- This is just for referecne, copy this layout for User pages -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>

        <!-- Common links -->
        <%- include("../../common/common-links.ejs")%>

        <!-- User common links -->
        <%-include("../../common/common-user-links.ejs")%>

        <!-- Common scripts -->
        <%-include("../../common/common-scripts.ejs")%>

        <!-- User common scripts -->
        <%- include("../../common/common-user-scripts.ejs")%>

        <script src="/javascripts/handlers/cart/cartHandler.js" type="module" defer></script>

        <script src="/javascripts/handlers/cart/cartPageHandler.js" type="module" defer></script>
        <script src="/plugins/razorpay.checkout.min.js"></script>

        <% if(typeof user !== 'undefined' && typeof user != null) {%>
        <!--  -->
        <script src="/javascripts/handlers/cart/cartPaymentHandler.js" type="module" defer></script>
        <!--  -->
        <% }%>
    </head>
    <body>
        <% if(typeof user !== 'undefined' && typeof user != null) {%>
        <%-include("../../components/navs/user-navbar.ejs")%> <% } else {%>
        <%-include("../../components/navs/outside-navbar.ejs")%> <% } %>

        <main>
            <section class="section cart-section my-8">
                <div class="container">
                    <div class="bg-white p-6 rounded-lg shadow-lg">
                        <div class="cart-table-container">
                            <table class="w-full text-left">
                                <thead>
                                    <tr class="border-b">
                                        <th class="p-4">Product</th>
                                        <th class="p-4">Price</th>
                                        <th class="p-4">Quantity</th>
                                        <th class="p-4">Total</th>
                                        <th class="p-4">Remove</th>
                                    </tr>
                                </thead>
                                <tbody id="cart-items-body">
                                    <!-- Cart Items will be added dynamically -->
                                </tbody>
                                <tfoot>
                                    <tr class="border-t">
                                        <td colspan="3" class="text-right p-4 font-semibold">
                                            Total:
                                        </td>
                                        <td class="p-4" id="cart-total">₹0.00</td>
                                        <td>
                                            <div>
                                                <button
                                                    id="checkout-btn"
                                                    class="px-6 py-2 bg-blue-600 text-white text-md font-semibold rounded-lg shadow-md hover:bg-blue-700 transition duration-300 ease-in-out flex items-center space-x-2">
                                                    <i class="fas fa-shopping-cart"></i>
                                                    <span>Checkout</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- Footer -->

        <%-include("../../components/footers/outside-footer.ejs")%>
    </body>
</html>
