<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>

        <%- include("../../common/common-links.ejs")%>

        <!-- Common scripts -->
        <%-include("../../common/common-scripts.ejs")%>

        <script src="/javascripts/handlers/auth/authHandler.js" type="module" defer></script>
    </head>
    <body class="bg-gradient-to-r from-green-400 to-blue-500">
        <%- include("../../components/navs/outside-navbar.ejs")%>
        <main>
            <div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
                <div class="sm:mx-auto sm:w-full sm:max-w-md">
                    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                        Sign in to your account
                    </h2>
                </div>

                <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md px-8">
                    <div class="bg-white py-8 px-4 shadow-lg rounded-lg sm:px-10">
                        <form id="login-form" class="space-y-6">
                            <div>
                                <label for="email" class="block text-sm font-medium text-gray-700">
                                    Email
                                </label>
                                <div class="mt-1">
                                    <input
                                        id="email"
                                        name="email"
                                        type="email"
                                        autocomplete="email"
                                        required
                                        value="mahesh@gmail.com"
                                        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm" />
                                </div>
                            </div>

                            <div>
                                <label
                                    for="password"
                                    class="block text-sm font-medium text-gray-700">
                                    Password
                                </label>
                                <div class="mt-1">
                                    <input
                                        id="password"
                                        name="password"
                                        type="password"
                                        value="1234"
                                        autocomplete="current-password"
                                        required
                                        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm" />

                                    <input type="text" name="role" value="user" hidden />
                                </div>
                            </div>

                            <div class="hidden items-center justify-between">
                                <!-- should have been flex instead -->
                                <div class="flex items-center">
                                    <input
                                        id="remember-me"
                                        name="remember-me"
                                        type="checkbox"
                                        class="h-4 w-4 text-green-600 focus:ring-green-500 border-gray-300 rounded" />
                                    <label
                                        for="remember-me"
                                        class="ml-2 block text-sm text-gray-900">
                                        Remember me
                                    </label>
                                </div>

                                <div class="text-sm">
                                    <a
                                        href="#"
                                        class="font-medium text-green-600 hover:text-green-500">
                                        Forgot your password?
                                    </a>
                                </div>
                            </div>

                            <div>
                                <button
                                    type="submit"
                                    id="login-btn"
                                    class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-md text-sm font-medium text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 transition duration-300">
                                    Sign in
                                </button>
                            </div>

                            <div>
                                <h6 class="font-semibold text-gray-700">
                                    Don’t have an account? Sign up at the link below
                                </h6>

                                <div class="mt-2">
                                    <p class="flex justify-center">
                                        <a
                                            class="text-green-500 font-bold block text-center hover:underline"
                                            href="/auth/signup?r=u"
                                            >Sign Up</a
                                        >
                                        <a
                                            hidden
                                            class="text-green-500 font-bold hover:underline"
                                            href="/auth/signup?r=f"
                                            >For Farmers</a
                                        >
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <%- include("../../components/footers/outside-footer.ejs")%>
    </body>
</html>
