<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>

        <%- include("../../common/common-links.ejs")%>

        <!-- Common scripts -->
        <%-include("../../common/common-scripts.ejs")%>

        <script src="/javascripts/handlers/auth/candidateSignupHandler.js" type="module" defer></script>
    </head>
    <body>
        <%- include("../../components/navs/outside-navbar.ejs")%>

        <main>
            <section>
                <div class="container">
                    <form
                        id="candidate-form"
                        class="p-6 mt-4 max-w-lg mx-auto bg-white rounded-xl shadow-md border border-gray-300 space-y-4">
                        <h2 class="text-2xl font-bold text-gray-900">Candidate Form</h2>

                        <div>
                            <label for="name" class="block text-sm font-medium text-gray-700"
                                >Full Name</label
                            >
                            <input
                                type="text"
                                id="name"
                                name="name"
                                class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-md border border-gray-300 p-2 bg-white text-gray-900 placeholder-gray-400 outline-none focus:ring-2"
                                placeholder="Enter your full name"
                                required />
                        </div>

                        <div>
                            <label for="email" class="block text-sm font-medium text-gray-700"
                                >Email Address</label
                            >
                            <input
                                type="email"
                                id="email"
                                name="email"
                                class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-md border border-gray-300 p-2 bg-white text-gray-900 placeholder-gray-400 outline-none focus:ring-2"
                                placeholder="Enter your email"
                                required />
                        </div>

                        <div>
                            <label for="mobile" class="block text-sm font-medium text-gray-700"
                                >Mobile Number</label
                            >
                            <input
                                type="tel"
                                id="mobile"
                                name="mobile"
                                maxlength="10"
                                class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-md border border-gray-300 p-2 bg-white text-gray-900 placeholder-gray-400 outline-none focus:ring-2"
                                placeholder="Enter your mobile number"
                                required />
                        </div>

                        <div>
                            <label for="password" class="block text-sm font-medium text-gray-700"
                                >Password</label
                            >
                            <input
                                type="password"
                                id="password"
                                name="password"
                                class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-md border border-gray-300 p-2 bg-white text-gray-900 placeholder-gray-400 outline-none focus:ring-2"
                                placeholder="Enter your password"
                                required />
                        </div>

                        <div>
                            <label for="password" class="block text-sm font-medium text-gray-700"
                                >Confirm Password</label
                            >
                            <input
                                type="password"
                                id="confirm_password"
                                name="confirm_password"
                                class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-md border border-gray-300 p-2 bg-white text-gray-900 placeholder-gray-400 outline-none focus:ring-2"
                                placeholder="Enter your password again"
                                required />
                        </div>

                        <div>
                            <label for="gender" class="block text-sm font-medium text-gray-700"
                                >Gender</label
                            >
                            <select
                                id="gender"
                                name="gender"
                                class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-md border border-gray-300 p-2 bg-white text-gray-900 outline-none focus:ring-2"
                                required>
                                <option value="">Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>

                        <div>
                            <label
                                for="years_of_experience"
                                class="block text-sm font-medium text-gray-700"
                                >Years of Experience</label
                            >
                            <select
                                type="number"
                                id="years_of_experience"
                                name="years_of_experience"
                                class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-md border border-gray-300 p-2 bg-white text-gray-900 placeholder-gray-400 outline-none focus:ring-2"
                                placeholder="Enter years of experience"
                                required>

                                <option value="">--Select--</option>

                                <option value="0" >Fresher</option>
                                <% for (let i = 1; i <= 15; i++) { %>
                                    <option value="<%= i %>">
                                        <%= i %> Year<%= i > 1 ? 's' : '' %>
                                    </option>
                                <% } %>
                            </select>
                        </div>

                        <div hidden>
                            <label
                                for="candidate_summary"
                                class="block text-sm font-medium text-gray-700"
                                >Candidate Summary</label
                            >
                            <textarea
                                id="candidate_summary"
                                name="candidate_summary"
                                rows="3"
                                class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-md border border-gray-300 p-2 bg-white text-gray-900 placeholder-gray-400 outline-none focus:ring-2"
                                placeholder="Enter candidate summary"></textarea>
                        </div>

                        <div hidden>
                            <label
                                for="candidate_description"
                                class="block text-sm font-medium text-gray-700"
                                >Candidate Description</label
                            >
                            <textarea
                                id="candidate_description"
                                name="candidate_description"
                                rows="3"
                                class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-md border border-gray-300 p-2 bg-white text-gray-900 placeholder-gray-400 outline-none focus:ring-2"
                                placeholder="Enter candidate description"></textarea>
                        </div>

                        <div>
                            <label for="candidateImage" class="block text-sm font-medium text-gray-700"
                                >Profile Image</label
                            >
                            <input
                                type="file"
                                id="candidateImage"
                                name="candidateImage"
                                class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-md border border-gray-300 p-2 bg-white text-gray-900 outline-none focus:ring-2" />
                        </div>

                        <div class="flex justify-end">
                            <button
                                type="submit"
                                id="candidate-signup-btn"
                                class="px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </section>
        </main>
    </body>
</html>
